/add_player_fun.py
/add_player_win.py
/alpha_players_fun.py
/choose_teams_fun.py
/examble.log
/fn_root.py
/frame_practice.py
/list_players.py
/player_list.json
/practice_pillow.py
/select_players_win.py
/start_tourney.py
/top_secret.py
/tournament.py